
<div class="container">
  <p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-steps [model]="items" styleClass="steps-custom" [(activeIndex)]="activeIndex" [style]="{'left': '200px' , 'width': '320px'}"></p-steps>
<div *ngIf="activeIndex == 1">
  <label style="text-align: center;padding-left: 170px;font-size: 50px;" name="col.title"
    ngDefaultControl>{{Survey}}</label>
  <!-- <button pButton type="button" label="Back" class="ui-button-danger" (click)="back()" style="left: 600px;"></button> -->
  <div class="p-grid" style="margin-top: .5em;">
    <div class="p-col col-md-10" *ngFor="let col of columns; let i=index" [@animation]="'visible'" id="{{'Id'+i}}" style="right:150px;">
      <div class="box" style="height: auto;min-height: 270px;width: 900px">
        <button pButton id='close' icon="pi pi-times" (click)='removeColumn(col)' Class="ui-button-danger" style="padding: 0px;bottom: 15px;border: 0px;margin: 0px;"></button>
        <div class="ui-g-2 ui-md-6 ui-lg-12" style="padding-left: 70px;">
          <label class="ui-g-2 ui-md-3 ui-lg-1" name="order" #name="ngModel" ngModel ngDefaultControl>{{i + 1}}</label>
          <textarea rows="2" cols="50" pInputTextarea autoResize="autoResize" [(ngModel)]="col.title" class="ui-g-8 ui-md-3 ui-lg-8"
            [ngModelOptions]="{standalone: true}"></textarea>
          <p-checkbox class="ui-g-2 ui-md-3 ui-lg-2" name="optional" label="Mandatory" [(ngModel)]="col.optional"
            inputId="mandtry" binary="false"></p-checkbox>
          <p-dropdown class="ui-g-2 ui-md-3 ui-lg-3" [options]="cities" id="{{'dd'+ i}}" [(ngModel)]="col.type"
            placeholder="CHOOSE TYPE" optionLabel="name" name="drop" (onChange)="dropdownChange(col)" [style]="{'width': '190px'}"></p-dropdown>
        </div>
        <div [ngSwitch]="col.type">
          <div class="rad" *ngSwitchCase="'Radio'" style="padding-left: 110px;height: 200px;">
            <div class="ui-g-6 ui-md-6 ui-lg-7">
              <p-radioButton name="col.options[0]" value="aaa" inputId="opt1" class="ui-g-6 ui-md-3 ui-lg-2" disabled="true"></p-radioButton>
              <input type="text" pInputText class="ui-g-6 ui-md-3 ui-lg-4" [(ngModel)]="col.options[0]"
                [ngModelOptions]="{standalone: true}">
              <p-radioButton name="options" value="bbb" inputId="opt2" class="ui-g-6 ui-md-3 ui-lg-2" disabled="true"></p-radioButton>
              <input type="text" pInputText class="ui-g-6 ui-md-3 ui-lg-4" [(ngModel)]="col.options[1]"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div class="ui-g-6 ui-md-6 ui-lg-7">
              <p-radioButton name="group1" value="ccc" inputId="opt3" class="ui-g-6 ui-md-3 ui-lg-2" disabled="true"></p-radioButton>
              <input type="text" [(ngModel)]="col.options[2]" pInputText class="ui-g-6 ui-md-3 ui-lg-4"
                [ngModelOptions]="{standalone: true}">
              <p-radioButton name="group1" value="ddd" inputId="opt4" class="ui-g-6 ui-md-3 ui-lg-2" disabled="true"></p-radioButton>
              <input type="text" [(ngModel)]="col.options[3]" pInputText class="ui-g-6 ui-md-3 ui-lg-4"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div class="rating rating2" *ngSwitchCase="'Star Rating'">
            <div class="ui-g-12 ui-md-12 ui-lg-12" style="text-align:center;">
              <a title="Give 5 stars">★</a>
              <a title="Give 4 stars">★</a>
              <a title="Give 3 stars">★</a>
              <a title="Give 2 stars">★</a>
              <a title="Give 1 stars">★</a>
            </div>
          </div>
          <div *ngSwitchCase="'yes/No'" style="margin-top: 165px;">

            <div class="emoji-toggle emoji-happy">
              <input type="checkbox" id="toggle1" class="toggle">
              <div class="emoji"></div>
              <label for="toggle1" class="well"></label>
            </div>
          </div>
          <!-- slider smiley -->
          <div id="container" *ngSwitchCase="'Slider'" style="height: 300px;margin-top: 125px;margin-bottom: 30px;padding-bottom: 0px;padding-top: 0px;">
            <!-- {{jqueryfun()}} -->
            <div id="first">
              <input type="text" [(ngModel)]="col.options[0]" pInputText class="ui-g-6 ui-md-3 ui-lg-4"
                [ngModelOptions]="{standalone: true}">
              <input type="range" id="sliderOne" name="slider1" min=0 max=10 value=0>
              <div class="score" id="ratingOne">0</div>
            </div>
            <div id="second">
              <input type="text" [(ngModel)]="col.options[1]" pInputText class="ui-g-6 ui-md-3 ui-lg-4"
                [ngModelOptions]="{standalone: true}">
              <input type="range" id="sliderTwo" name="slider2" min=0 max=10 value=0>
              <div class="score" id="ratingTwo">0</div>
            </div>
            <div id="third">
              <input type="text" [(ngModel)]="col.options[2]" pInputText class="ui-g-6 ui-md-3 ui-lg-4"
                [ngModelOptions]="{standalone: true}">
              <input type="range" id="sliderThree" name="slider3" min=0 max=10 value=0>
              <div class="score" id="ratingThree">0</div>
            </div>
          </div>
          <div class="container" *ngSwitchCase="'NPS Rating (1-10)'">
            <!-- {{jqueryfun()}} -->
            <div class="widget">
              <button class="detractor">1</button>
              <button class="detractor">2</button>
              <button class="detractor">3</button>
              <button class="detractor">4</button>
              <button class="detractor">5</button>
              <button class="passive">6</button>
              <button class="passive">7</button>
              <button class="passive">8</button>
              <button class="promoter">9</button>
              <button class="promoter">10</button>
            </div>
          </div>
          <div *ngSwitchCase="'Smileys'">
            <div id="smileys">
              <input type="radio" name="smiley" value="sad" class="sad">
              <input type="radio" name="smiley" value="neutral" class="neutral">
              <input type="radio" name="smiley" value="happy" class="happy" checked="checked">
            </div>
          </div>
          <div class="MChoice" style="padding-left: 110px;height: 200px;" *ngSwitchCase="'Multiple Choice'">
            <div class="ui-g-8 ui-md-3 ui-lg-6">
              <p-checkbox class="ui-g-6 ui-md-3 ui-lg-2" name="group1" inputId="ny" binary="true" disabled="true"></p-checkbox>
              <input type="text" pInputText class="ui-g-6 ui-md-3 ui-lg-4" [(ngModel)]="col.options[0]"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div class="ui-g-8 ui-md-3 ui-lg-6">
              <p-checkbox class="ui-g-6 ui-md-3 ui-lg-2" name="group1" inputId="sf" binary="true" disabled="true"></p-checkbox>
              <input type="text" pInputText class="ui-g-6 ui-md-3 ui-lg-4" [(ngModel)]="col.options[1]"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div class="ui-g-6 ui-lg-6">
              <p-checkbox class="ui-g-6 ui-md-3 ui-lg-2" name="group1" inputId="la" binary="true" disabled="true"></p-checkbox>
              <input type="text" pInputText class="ui-g-6 ui-md-3 ui-lg-4" [(ngModel)]="col.options[2]"
                [ngModelOptions]="{standalone: true}">
            </div>
            <div class="ui-g-6 ui-lg-6">
              <p-checkbox class="ui-g-6 ui-md-3 ui-lg-2" name="group1" inputId="la" binary="true" disabled="true"></p-checkbox>
              <input type="text" pInputText class="ui-g-6 ui-md-3 ui-lg-4" [(ngModel)]="col.options[3]"
                [ngModelOptions]="{standalone: true}">
            </div>
          </div>
          <div *ngSwitchCase="'Comment box(Text Area)'">
            <textarea placeholder="This is an awesome comment box" rows="20" name="comment[text]" id="comment_text"
              cols="40" class="ui-autocomplete-input" autocomplete="off" role="textbox" aria-autocomplete="list"
              aria-haspopup="true" disabled></textarea>
          </div>
          <div *ngSwitchCase="'Text box'">
            <input id="input" type="text" size="30" pInputText [(ngModel)]="text" style="height: 40px;" disabled>
          </div>
          <div *ngSwitchCase="'Agree/Disagree'">
            <div class="ui-g-12 ui-md-12 ui-lg-12" style="text-align:center;margin-top: 52px">
              <button class="like-button" (click)="likeClicked()" [ngClass]="{'disliked':liked,'liked':!liked}">
                <i class="fa fa-3x like-icon" [ngClass]="{'fa-thumbs-up':!liked,'fa-thumbs-down':liked}"></i>
              </button>
              <label style="font-size: xx-large;font-style: italic;">{{liked?'Disagree':'Agree'}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="ui-g-2 ui-md-6 ui-lg-4">
    <div class="ui-g-12 ui-md-10 ui-md-8 ui-md-6 ui-lg-8">
      <button pButton type="button" icon="pi pi-plus" title="Add Column" (click)="addColumn()" style="margin-right: .5em"></button>
      <button pButton type="button" icon="pi pi-minus" title="Remove Column" (click)="removeColumn()"></button>
    </div>
  </div> -->
  <div class="" style="right:100px;top: 350px;" id="floater">
    <button pButton type="button" icon="pi pi-plus" title="Add Column" (click)="addColumn()" style="margin-right: .5em"></button>
    <button pButton type="button" label="Next" (click)="surveysave()" class="ui-button-raised ui-button-success"></button>
  </div>
</div>
</div>