<div class="container">
<p-toast [style]="{marginTop: '80px'}"></p-toast>
<p-steps [model]="items" styleClass="steps-custom" [(activeIndex)]="activeIndex" [style]="{'left': '200px' , 'width': '320px'}"></p-steps>
<form #step1="ngForm" *ngIf="activeIndex == 0">
  <div class="borderdiv"  >
    <p-card>
      <div class="col-sm-10">
        <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-md-12 ui-lg-12" >
            <label class="ui-g-6 ui-md-3 ui-lg-2 ui-md-offset-3" style="margin-top: 0px;">SURVEY NAME<span style="color: red">*</span></label>
            <div class="ui-g-6 ui-md-3 ui-lg-4"> 
              <input type="text" pInputText class="form-control" [(ngModel)]="SureyName" name="surveyName"
              #surveyName="ngModel" required minlength="4" pattern="[a-zA-Z ]*" /></div>           
            <div id="error" *ngIf="surveyName.invalid && (surveyName.dirty || surveyName.touched)" class="alert alert-danger ui-g-6 ui-g-offset-5">
              <div *ngIf="surveyName.errors.required"> SurveyName is required. </div>
              <div *ngIf="surveyName.errors.pattern"> SurveyName should be in characters</div>
              <div *ngIf="surveyName.errors.minlength"> SureyName must be at least 4 characters long.</div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-md-12 ui-lg-12" >
            <label class="ui-g-6 ui-md-3 ui-lg-2 ui-md-offset-3">DESCRIPTION<span style="color: red">*</span></label>
            <div class="ui-g-6 ui-md-3 ui-lg-4">
            <textarea rows="5" cols="30" pInputTextarea autoResize="autoResize" class="form-control"
              [(ngModel)]="description" required name="description" #Description="ngModel"></textarea></div>
            <div id="error" *ngIf="Description.invalid && (Description.dirty || Description.touched)" class="alert alert-danger ui-g-6 ui-g-offset-5">
              <div *ngIf="Description.errors.required"> Description is required. </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-10">
        <div class="ui-g ui-fluid">
          <div class="ui-g-12 ui-md-6 ui-lg-12" >
            <label class="ui-g-6 ui-md-3 ui-lg-2 ui-md-offset-3">THEMES<span style="color: red">*</span></label>
            <div class="ui-g-6 ui-md-3 ui-lg-4">
            <!-- <p-dropdown [options]="cars" class="ui-g-6 ui-md-3 ui-lg-3 " [(ngModel)]="selectedCar1" ngDefaultControl
              required #Theme="ngModel" [style]="{'width':'190px','padding':'0px'}" placeholder="Select a Theme" name="theme"></p-dropdown> -->
              <p-dropdown [options]="cars" class="ui-sm-6 ui-md-3 ui-lg-3" [(ngModel)]="selectedCar1" placeholder="Select a Theme" name="theme" required #Theme="ngModel" ngDefaultControl></p-dropdown>
            </div>
            <div id="error" *ngIf="Theme.invalid && (Theme.dirty || Theme.touched)" class="alert alert-danger ui-g-6 ui-g-offset-5">
              <div *ngIf="Theme.errors.required"> Theme is required. </div>
            </div>
          </div>
        </div>
      </div>
    </p-card>
    <div class="col-sm-11" >
      <div style="padding-top: 40px;float: right;">
        <button pButton type="submit" label="Next" [disabled]="!step1.valid" (click)="next(step1.value)" class="ui-button-raised ui-button-success"></button>
        <button pButton type="reset" label="clear" value="Reset" class="ui-button-raised ui-button-warning"></button>
      </div>
    </div>
  </div>
</form>
</div>

